@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  src: url("/src/assets/fonts/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

.section {
  @apply snap-start h-screen flex;
}

.contact-link {
  @apply rounded-3xl w-32 flex justify-around items-center bg-white border border-black hover:shadow-lg transition-all duration-300;
}
